@import url(https://fonts.googleapis.com/css?family=Inter);

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	background-color: #F3F5FC;
}

.general-container {
	display: flex;
	justify-content: space-around;
	margin: 15px;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.logo-container {
	width: 8%;
}

.left-container {
	width: 55%;
}

.right-container {
	width: 23%;
}

.components-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100%;
	justify-content: space-between;
}

.result-container {
	height: 80%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 80%;
}

.buttons-container {
	display: flex;
	height: 7.5%;
	min-height: 7.5%;
	justify-content: space-around;
	margin: 20px 6px 20px 6px;
	position: relative;
}

.box-sh-comp {
	background-color: white;
	border-radius: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button-first {
	width: 45%;
	border-radius: 20px;
	background-color: #0A3871;
	color: white;
}

.button-second {
	width: 45%;
	border-radius: 20px;
	background-color: transparent;
	border: 1.5px solid #0A3871;
}

.button-third {
	width: 90%;
	border-radius: 20px;
	background-color: transparent;
	border: 1.5px solid #0A3871;
}

.text-container {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-area-encode {
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	-webkit-text-fill-color: #0A3871;
	color:transparent;
	cursor: auto;
	text-transform: lowercase;

	margin: 20px;
	width: 100%;
	height: 60%;
	border: none;
	background-color: transparent;

	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	outline: none;
	resize: none; 

}

.text-area-encode::placeholder {
	color: #0A3871;
}



.result-text {
	overflow-wrap: anywhere;
	font-family: 'Inter', sans-serif;
	margin-left: 0;
	overflow-y: auto;
	max-height: 100%;
	height: 100%;
	-webkit-text-fill-color: black;
	color: transparent;
}

.info-buttons {
	position: absolute;
	color: #495057;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	top: -50%;
	left: 20px;
	/*transform: translate(-90%, -150%);*/
}


/*Tablet*/
/* and if the height is 200px more bigger than the width*/
@media screen and (max-width: 768px), ((max-height: 992px) and (min-width: 768px)) {
	.general-container {
		display: flex;
		flex-direction: column;
	}

	.components-container {
		height: auto;
	}

	.left-container {
		width: 100%;
		height: 560px;
	}
	.right-container {
		width: 100%;
		height: auto;
		min-height: 30vh;
		max-height: 80vh;
	}

	.buttons-container {
		height: auto;
	}

	.button-first {
		height: 40px;
	}

	.button-second {
		height: 40px;
	}

	.button-third {
		height: 40px;
	}

	.result-container {
		height: auto;
		max-height: 500px;
	}

	.result-text {
		height: auto;
		max-height: 500px;
	}

	.no-message-image {
		display: none;
	}

	.text-area-encode {
		font-size: 20px;
		height: 250px;
	}
}


*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

div:hover {
  color: rgba(0, 0, 0, 0.3);
}

textarea:hover {
  color: rgba(10, 56, 113, 0.3);
}

/* buttons animations */

.button-first:hover {
	background-color: #0A3871DD;
	cursor: pointer;
}

.button-second:hover {
	background-color: #00000011;
	cursor: pointer;
}

.button-third:hover {
	background-color: #00000011;
	cursor: pointer;
}